/* General styling */
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
/* End of general styling */
/* Navigation Tabs */
.navigation-tabs{
    display:flex;
    background-color:rgba(115, 160, 180, 0.2);
    border-radius: 200px;
    position: fixed;
    width: 100%;
}
.navigation-tabs ul{
    float:right;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;

}
.navigation-tabs li{
    display: inline-block;
    margin-right: 50px;
    align-items:center;
    border-radius:2px;
    padding: 10px ;
    transition: all .5s;
}
.navigation-tabs li:hover, .navigation-tabs li:active{
    background-color:white;
    cursor: pointer;

}

/* End the navigation */

/* Welcome div design */
.welcome{
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    color:black;
    color:rgb(115, 160, 180);
    margin-top:15%;
    z-index: 100000;

}
.welcome-disappear{
    display: none;
    transition: .7s linear 2;
}
/* End of welcome div design */
#open-rest{
    color:aliceblue;
    background-color:rgb(115, 160, 180);
    margin-bottom: 20px;
    width: 150px;
    height:50px;
    border-radius: 120px;
    border-width: 0px;
    cursor:pointer;
    transition: all .5s;
}
#open-rest:hover{
    transform: translateY(-10px);
    color:rgb(115, 160, 180);   
    background-color: white;
}

/* Edit the open-rest button when it is clicked */
.open-rest-clicked{
    display:none;
}

/* Edit the rest of the site */
.others{
    display:none;
}


.others-clicked{
    background-image:url("../assets/images/self_portrait.JPG");
    background-size: 100%;
    display: flex;
    background-repeat: no-repeat;
    object-fit:none;
    background-position:  center center;
    padding: 20%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin:0 0;
    color: antiquewhite;
}

/* Edit the remaining part of the site */

/* Keyframes begins */
@keyframes slideFromLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform:translateX(0);
    }

}

@keyframes slideNavbar{
    from{
        transform: translateY(-100px);

    }   
    to {
        transform: translateY(0);

    }
}

@keyframes slideFromRight{
    from{
        transform: translateX(300px);
}
    to{
        transform:translateX(0);
    }
}

/* Keyframe ends */

.welcome h1{
    animation: slideFromLeft 2s ease-in ;
}

.welcome button{
    animation: slideFromRight 2s ease-in ;
    -webkit-animation: slideFromRight 2s ease-in ;
}
/* .navigation-tabs{
    animation: slideNavbar 2s ease;
    -webkit-animation: slideNavbar 2s ease;
} */