/* Welcome div design */
.welcome{
    background-image:url("../assets/images/self_portrait.JPG");
    background-position:  center right;
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Remains the position of the image */
